/venv
/backend/backend/.env
/backend/db.sqlite3
/backend/kids/migrations/*.py
/backend/inventory/migrations/*.py
/backend/api/migrations/*.py


/backend/*.log
*.pot
*.pyc
/backend/__pycache__
/backend/media
backend/api/__pycache__/*

/backend/api/__pycache__
/backend/inventory/__pycache__
/backend/kids/__pycache__