.final{
    max-width: 500px;
    margin-top: 50px;
    text-align: center;
    margin-left: 630px;
    font-size: larger;
    font-weight:200;
}
body{
   background-image: url("./image2.jpeg") !important;
   background-repeat: no-repeat !important; 
    background-size: cover !important; 
    height: 100vh !important;
}
Input:hover{
    /* color: black !important; */
    border: 2px solid black !important;
}
.heading{
    font-family:cursive;
    font-size: 40px !important;
    text-align: center !important;
}
Button{
    size: 10px !important;
    margin-left: 10px   !important;
    height: 40px  !important;
    display: flex;
    margin-top: 20px !important;
}

.attendance-input{
    display: flex !important;
    align-items: center !important;
    margin-left: 700px !important;
    justify-self: center !important;
    width: 350px !important;
}

.btn{
    margin-left: 830px !important;
    width: 100px;
    margin-bottom: 10px;
}
.below{
    margin-left: 650px !important;
    margin-top: 50px !important;
}
.below1{
    margin-left: 760px !important;
    width: 150px;
    margin-top: 50px !important;
    color: #C0C0C0;
}